name: Swift

on: [push]

jobs:
  build:
    name: Build & Test
    runs-on: macos-latest
    steps:
      - uses: swift-actions/setup-swift@cdbe0f7f4c77929b6580e71983e8606e55ffe7e4
        with:
          swift-version: 5.10
      - uses: actions/checkout@v4
      - name: Build
        run: swift build
      - name: Run tests
        run: swift test
