name: Swift

on:
  push:
    branches:
      - main
      - release
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main
      - release
jobs:
  build:
    name: Build & Test
    runs-on: macos-latest
    steps:
      - name: Install Swift              
        uses: slashmo/install-swift@v0.4.0
        with:
          version: 5.10
      - name: Get swift version
        run: swift --version
      - uses: actions/checkout@v4
      - name: Build
        run: swift build
      - name: Run tests
        run: swift test
