name: Build & Test

on:
  push:
    branches:
      - main
      - release
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main
      - release
jobs:
  build:
    name: Build & Test
    runs-on: macos-latest
    steps:
      - name: Install Swift              
        uses: swift-actions/setup-swift@v1.26.0
        with:
          version: swift-5.10-DEVELOPMENT-SNAPSHOT-2024-03-02-a-osx
      - name: Get swift version
        run: swift --version
      - uses: actions/checkout@v4
      - name: Build
        run: swift build
      - name: Run tests
        run: swift test
